body {
    font-family: 'Roboto', sans-serif;
    background-color: #f77f00;
    display: flex;
    justify-content: space-around;
  }

  ul {
    text-decoration: none;
  }

  .button-class {
    background-color: #4caf50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #718285;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
  }

  .button-class:hover {
    opacity: .8;
    animation: bounce 0.5s linear;
  }

  @keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0px);
    }
  }


/*
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}



.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

.card-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0px);
    }
} */