* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f77f00;
}

nav {
  background: #233000;
  border-bottom: goldenrod 3px solid;
}

.pokemon-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.button-class {
  width: 100%;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #718285;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #FEF9D9;
  color: black;
  border: 2px solid goldenrod;
}

.button-class:hover {
  opacity: .8;
  color: white;
  background: #233000;
  border: 2px solid goldenrod;
  animation: bounce 0.5s linear;
}

.modal-img {
  display: block;
  width: 50%;
}

footer {
  background: #233000;
  border-top: goldenrod 3px solid;
}

@keyframes bounce {
  20% {
      transform: translateY(-6px);
  }
  40% {
      transform: translateY(0px);
  }
  60% {
      transform: translateY(-2px);
  }
  80% {
      transform: translateY(0px);
  }
}


/*
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}



.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

.card-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0px);
    }
} */